body{
    width: 100%;
    font-family: 'Poppins', sans-serif !important;
}
.navbar{
    box-shadow: 0px 15px 10px -15px lightgray;
    padding: 0 80px !important;
    font-size: 13px !important;
}
.navbar-brand>img{
    height: 45px;
}
.searchBar{
    margin: 0 25px;
}
.searchBox{
    border-style: none;
    border: 1px solid #D3D3D3;
    border-radius: 8px 0 0 8px;
    padding: 15px;
    width: 220px;
    height: 35px;
}
.searchButton{
    border-style: none;
    background-color: #8064A2;
    box-shadow: 0 0 1px lightgrey;
    border-radius: 0 8px 8px 0;
    padding-bottom: 5px;
    width: 35px;
    height: 35px;
}
.nav-links-icons{
    margin-top: 8px;
}
#navbarDropdown{
    color: black;
    font-weight: 600;
}
.dropdown-menu{
    margin-top: 10px !important;
    border-radius: 0 0 8px 8px !important;
}
.nav-link-icon{
    height: 20px;
    margin: 0 10px;
}
.nav-link-button{
    border-style: none;
    background-color: #fff;
    color: #8064A2;
    border: 1.5px solid #8064A2;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 4px 20px;
    font-weight: 600;
    width: 80px;
}
.nav-link-button:hover{
    background-color: #8064A2;
    color: #fff;
}
.navbar-toggler {
    border: none !important;
}
.header{
    width: 100%;
    font-size: 14px !important;
    padding: 100px 80px 0 80px !important;
    background-color: #F7F5F9;
}
.headerCol1{
    padding-right: 50px !important;
}
.header-image{
    width: 100%;
}
.formLink{
    margin: 0 10px;
    border-style: none;
    background-color: #F7F5F9;
    color: grey;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 50px;
}
.formLinkActive{
    color: #8064A2;
    border-bottom: 2px solid #8064A2;
}
.formButton{
    border: 1.5px solid #8064A2;
    background-color: #F7F5F9;
    border-radius: 8px;
    display: block;
    width: 100%;
    padding: 7px 25px;
    font-weight: 600;
    margin-bottom: 15px;
    text-decoration: none;
}
.formButtonIcon{
    height: 20px;
    float: left;
}
.formButton:hover{
    background-color: #8064A2;
    color: #fff;
}
.formSeparator{
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
hr.solid {
    border-top: 3px solid grey;
    width: 23%;
    display: inline-block;
}
.formSeparatorText{
    position: relative;
    bottom: 12px;
}
input[type="email"],[type="password"]{
    font-size: 13px;
    width: 100%;
    padding: 7px 15px;
    border-radius: 8px;
    border: solid 1.5px #D3D3D3;
    margin-bottom: 15px;
}
.RememberMe{
    margin-top: 15px;
    font-size: 12px;
}
.RememberMe input[type="checkbox"]{
    line-height: normal;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.RememberMe span{
    position: relative;
    bottom: 4px;
}
.RememberMe a{
    float: right;
    text-decoration: none;
    color: #000;
}
.continueButton{
    margin-top: 17px;
    border: 1.5px solid #000;
    font-weight: 700;
}
.continueButton:hover{
    border: 1.5px solid #8064A2;
}
.listing{
    width: 100%;
    font-size: 14px;
    padding: 100px 70px 0 70px;
    text-align: center;
}
.card{
    margin: 0 auto 20px auto;
    padding: 25px;
    min-height: 250px;
    text-align: left;
    border-radius: 8px !important;
}
.card1{
    border: 2px solid #8064A2 !important;
}
.card1:hover{
    background-color: #8064A2 !important;
    color: white;
}
.card2{
    border: 2px solid #77933C !important;
}
.card2:hover{
    background-color: #77933C !important;
    color: white;
}
.card3{
    border: 2px solid #C0504D !important;
}
.card3:hover{
    background-color: #C0504D !important;
    color: white;
}
.card4{
    border: 2px solid #0096C8 !important;
}
.card4:hover{
    background-color: #0096C8 !important;
    color: white;
}
.card-title{
    font-weight: 600;
}
.card-text{
    margin: 20px auto !important;
}
.cardIcon{
    height: 24px;
    margin: 5px;
}
.cardButton{
    border-style: none;
    background-color: #fff;
    color: #8064A2;
    border: 1.5px solid #8064A2;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    margin: 4px 0 0 0;
    font-weight: 600;
}
.removeBorder{
    border-style: none;
}
.testimonials{
    margin: 100px 70px 0 70px;
}
.testimonial{
    background-color: #F7F5F9;
    border-radius: 8px;
    margin: 100px 10px 0 10px;
    padding: 30px;
    text-align: left;
}
.addCardButton:hover{
    background-color: #8064A2;
    color: #fff;
}
.testimonial>p{
    margin-top: 25px;
    margin-bottom: 25px;
}
audio{
    width: 100%;
    
    &::-webkit-media-controls-enclosure {
        border-radius: 5px;
        background-color: #CCC1DA;
    }
    border-radius: 8px;
}
.testimonialProfile{
    width: 100%;
    padding-left: 20%;
}
.testimonialDP{
    width: 50px;
    margin-right: 10px;
    float: left;
}
.testimonialProfileName{
    font-weight: 600;
    display: block;
    color: #8064A2;
}
.testimonialProfileabout{
    color: #0096C8;
    display: block;
    font-size: 12px;
}
.getStarted{
    width: 100%;
    padding: 100px 80px 80px 80px;
}
.getStarted h2{
    margin-bottom: 25px;
}
.getStarted button{
    border: 1.5px solid #8064A2;
    background-color: #8064A2;
    color: #fff;
    border-radius: 8px;
    display: block;
    padding: 7px 25px;
    margin-bottom: 50px;
    text-decoration: none;
}
.getStarted button:hover{
    border: 1.5px solid #694d8c;
    background-color: #694d8c;
}
.getStarted img{
    width: 100%;
}
.footer{
    width: 100%;
    padding: 10px 80px 10px 80px;
}
ul{
    list-style: none;
}
li{
    margin-bottom: 10px;
}
li a{
    text-decoration: none;
    color: grey;
}
.footerSM{
    width: 15px;
    margin: 5px;
}
.inviteBox{
    border-style: none;
    border: 1px solid #bfa9a9;
    border-radius: 8px 0 0 8px;
    padding: 15px;
    width: 80%;
    height: 50px;
    font-size: 14px;
}
.inviteButton{
    border-style: none;
    background-color: #8064A2;
    box-shadow: 0 0 1px lightgrey;
    border-radius: 0 8px 8px 0;
    padding: 0 10px;
    height: 50px;
    color: #fff;
}
.copyright{
    background-color: #F7F5F9;
    width: 100%;
    margin: 0;
    padding: 15px 0 5px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.grey{
    color: grey;
}

@media only screen and (max-width: 800px) {
    .navbar{
        padding: 0 30px !important;
    }
    .searchBar{
        margin: 0 5px;
        margin-left: auto;
    }
    .searchBox{
        display: none !important;
    }
    .searchButton{
        border-radius: 8px;
    }
    .nav-links-icons{
        text-align: center !important;
    }
    .dropdown-menu{
        margin-top: 10px !important;
        border-radius: 0 0 8px 8px !important;
    }
    .nav-link-button{
        border-style: none;
        background-color: #fff;
        color: #8064A2;
        border: 1.5px solid #8064A2;
        border-radius: 8px;
        padding: 4px 20px;
        margin: 4px 20px;
        font-weight: 600;
    }
    .nav-link-button:hover{
        background-color: #8064A2;
        color: #fff;
    }
    .navbar-toggler {
        border: none !important;
    }
    .header{
        margin: 0;
        padding: 0 45px !important;
        background-color: #F7F5F9;
    }
    .headerCol1{
        padding: 100px 15px !important;
        margin: auto;
    }
    .headerCol2{
        padding: 100px 15px !important;
        text-align: center;
        margin: auto;
    }
    .RememberMe{
        margin-top: 15px;
        font-size: 12px;
        text-align: left;
    }
    .listing{
        width: 100%;
        font-size: 14px;
        padding: 100px 45px 0 45px;
        text-align: center;
    }
    .card{
        margin: 0 auto 20px auto !important;
        padding: 15px;
        text-align: center;
    }
    .cardButton{
        width: 100%;
    }
    .testimonials{
        margin: 100px 30px 0 30px;
    }
    .addCard{
        margin: 0 15px !important;
    }
    .testimonial{
        margin: 0 15px !important;
        text-align: center;
    }
    .testimonial>p{
        margin-top: 25px;
        margin-bottom: 40px;
    }
    audio{
        margin-bottom: 20px;
    }
    .testimonialProfile{
        width: 100%;
        padding-left: 0;
        text-align: left;
    }
    .getStarted{
        width: 100%;
        padding: 100px 45px 30px 45px;
        margin-bottom: 50px;
    }
    .footer{
        width: 100%;
        padding: 100px 45px 30px 45px;
        text-align: center;
    }
    ul{
        margin-bottom: 50px !important;
        padding: 0 !important;
        
    }
    .footerSM{
        width: 10px;
        margin: 10px;
    }
    .inviteButton{
        border-style: none;
        background-color: #8064A2;
        box-shadow: 0 0 1px lightgrey;
        border-radius: 0 8px 8px 0;
        padding: 0 10px;
        height: 50px;
        color: #fff;
    }
    .copyright{
        background-color: #F7F5F9;
        width: 100%;
        margin: 0;
        padding: 15px 0 5px 0;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
    }  
    
}